.img-modal{
    display: none;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    padding:40px 0;
    box-sizing: border-box;
}
.img-modal.active{
    display: flex;
}
.img-modal__inner{
    position: relative;
    width: 92%;
    margin:auto;
    max-width: 1288px;
    box-sizing: border-box;
    border:2px solid var(--blue);
    border-radius: 10px;
    overflow: hidden;
  
}
.img-modal__inner>*{
    position:relative;
    z-index: 2;
}
.img-modal__inner::after{
    content:'';
    pointer-events: none;
    border-radius: inherit;
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); 
    background: radial-gradient(
        circle farthest-side at 0% 0%,
        rgba(0, 33, 129, 0.8) 0%,
        rgba(0, 22, 89, 0.6) 100%
        );
        opacity: 0.9;
}
.img-modal__close{
    position: absolute;
    z-index: 5;
    right:31px;
    top:31px;
    width: 36px;
    aspect-ratio: 1 / 1;
    background: transparent url(../images/icon-close.svg) no-repeat center center / cover;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px); 
}
.img-modal__image{
    display: block;
    max-width: 100%;
    margin:0 auto;
}
.img-modal button{
    border:0;
    cursor: pointer;
    background-color: transparent;
}

.img-modal__nav{
    position: absolute;
    z-index: 5;
    top:50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    backdrop-filter: blur(42px);
    -webkit-backdrop-filter: blur(42px); 
    transform: translate(0,-50%);
    background: transparent url(../images/moda-nav-bg.svg) no-repeat center center / cover;
    transition: background 0.3s ease-in-out;
}
.img-modal__nav:hover{
    background: var(--blue);
}
.img-modal__nav--prev{
    left:23px;
}
.img-modal__nav--prev::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: 
    url(../images/icon-left.svg) no-repeat center center / 24% auto;
}
.img-modal__nav--next{
    right:23px;
}
.img-modal__nav--next::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background:  url(../images/icon-right.svg) no-repeat center center / 24% auto;
}


@media (max-width:768px){
    .img-modal__nav{
        width: 36px;
    }   
    .img-modal__close{
        right:12px;
        top:12px;
        width: 30px;
    }
    .img-modal__nav--prev{
        left: 12px;
    }
    .img-modal__nav--next{
        right:12px;
    }
}